rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userID) {
      return isAnyAuthenticated() && userID == request.auth.uid;
    }

    match /users/{userID} {
      allow create: if isUserAuthenticated(userID)
        && (!('name' in request.resource.data) || (request.resource.data.name is string && request.resource.data.name.size() <= 20))
        && (!('iconURL' in request.resource.data) || (request.resource.data.iconURL is string && request.resource.data.iconURL.size() <= 1000))
        && request.resource.data.createdAt == request.time // serverTimestamp()
        && request.resource.data.updatedAt == request.time // serverTimestamp()
      ;
      allow update: if isUserAuthenticated(userID) && request.resource.data.updatedAt == request.time;
      allow get: if isUserAuthenticated(userID);

      match /todos/{todoID} {
        allow create: if isUserAuthenticated(userID)
          && (request.resource.data.title is string && request.resource.data.title.size() <= 100)
          && (request.resource.data.isCompleted == false)
          && (!('completedAt' in request.resource.data) || request.resource.data.completedAt == null)
          && request.resource.data.createdAt == request.time // serverTimestamp()
          && request.resource.data.updatedAt == request.time // serverTimestamp()
        ;

        allow update: if isUserAuthenticated(userID)
          // title
          && (request.resource.data.title is string && request.resource.data.title.size() <= 100)
          // isCompleted and completedAt
          && (
            (resource.data.isCompleted == false && request.resource.data.isCompleted == true && request.resource.data.completedAt == request.time )
            || (resource.data.isCompleted == request.resource.data.isCompleted && (!('completedAt' in request.resource.data) || resource.data.completedAt == request.resource.data.completedAt))
            || (request.resource.data.isCompleted == false && request.resource.data.completedAt == null)
          )
          && (!('createdAt' in request.resource.data) || resource.data.createdAt == request.resource.data.createdAt)
          && request.resource.data.updatedAt == request.time // serverTimestamp()
        ;
      }
    }
  }
}
